<html>
  <head>
    {% if title %}
    <title>{{ title }} - Notes</title>
    {% else %}
    <title>Welcome to my Notes App</title>
    {% endif %}
    <style>
      #logout-login {float: right;}
    </style>
  </head>
  <body>
    <div id="logout-login">
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <div>Directory:
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('notes_list') }}">All Notes</a>
    </div>
    <hr>
    {% block content %}
    <div>
      Super awesome home page
    </div>
    {% endblock %}
  </body>
</html>
